<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.satoken.mapper.SysLoginInfoMapper">

    <resultMap id="BaseResultMap" type="com.satoken.entity.SysLoginInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="loginStatus" column="login_status" jdbcType="INTEGER"/>
            <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
            <result property="loginLocation" column="login_location" jdbcType="VARCHAR"/>
            <result property="loginBrowser" column="login_browser" jdbcType="VARCHAR"/>
            <result property="loginOs" column="login_os" jdbcType="VARCHAR"/>
            <result property="loginMessage" column="login_message" jdbcType="VARCHAR"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,login_status,
        login_ip,login_location,login_browser,
        login_os,ogin_message,login_time
    </sql>
</mapper>
